.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.composition {
    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        &--1 {
            top: -2rem;
            left: 0;
        }
        &--2 {
            right: 0;
            top: 2rem;
        }
        &--3 {
            left: 20%;
            top: 10rem;
        }
        &:hover {
            z-index: 15;
            box-shadow: .2rem 2.5rem 4rem rgba(0, 0, 0, 0.4);
            transform: scale(1.05) translateY(-0.5rem);
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }
}