@import url('https://fonts.googleapis.com/css?family=Courgette');
.testimonial {
    height: 35rem;
    width: 65%;
    text-align: center;
    color: #333;

    &__logo {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        margin-bottom: 1rem;
    }
    &__msg {
        font-size: 2rem;
        font-family: 'Courgette', cursive;
        font-weight: 400;
        margin-bottom: 3rem;
    }
}
